/*pc버전*/
html{font-size:20px;}
body{
font-family: 'Noto Sans KR', sans-serif;
font-size:1rem;/*20px = 1rem*/
color:#555;
}
a{color:#555;
text-decoration: none;}
.tb{display:none;}
/*layout*/
header{z-index:90;position: fixed;width:100%;
  /*  min-width:60rem;*/
height:140px;box-sizing:border-box;background:#fff;
}
/*min-width:1200px;*/
.inner{width:60rem;margin:0 auto;/*width:1200px 1200/20= 60rem; */

}
main{width:100%;}
footer{width:100%;height:500px;}

/*header*/
.modal{display:none;}
/*로고*/
.logo{position: absolute;left:50%;top:70px;
transform: translateX(-50%);}
/*주메뉴*/
/*
header nav ul{position: absolute;top:55px;}
header nav ul > li{display:inline-block;

}
header nav ul > li > a{display:block;
padding:1rem 2.4rem;}
header nav ul > li:first-child > a{padding-left:0;}
header nav ul > li:nth-child(3) {margin-right:5rem;}
header nav ul > li:last-child > a{padding-right:.4rem;}
*/
header nav{position: absolute;top:55px;}
.gnb{display:flex;}
.gnb > li > a{display:block;
padding:1rem 2rem;}
header nav ul > li:nth-child(3) {margin-right:5.5rem;}
/*탑메뉴*/
.topMenu{position: absolute;top:0;left:0;background:#0f5431;
width:100%;height:1.9rem;/*38/20=1.9rem*/
line-height: 1.9rem;
}
.topMenu a{color:#fff;font-size:.6rem}/*12px*/
.topMenu .inner{display:flex;
justify-content: flex-end;}
.topMenu .inner ul{display:flex;}
.topMenu .inner ul li{position: relative;}
.topMenu .inner ul li a{padding:0 .7rem;/*14px*/

}
.topMenu .inner ul li ~ li > a:after{content:"";
/*li에서 li 사이 첫번째 제외*/position: absolute;
left:0;top:50%;
transform:translateY(-50%);
width:1px;
height:11px;
background:rgba(255,255,255,.3);
}
.topMenu .inner p{background:#0b3f25;height:1.9rem;
line-height:1.9rem;font-weight: 800;
padding:0 1.4rem;}/*0 24px;*/
.lang_sel{position: relative;}
.lang{/*display:none;*/position: absolute;top:1.9rem;
background:#0f5431;width:100%;
height:0;overflow:hidden;
transition:height .3s;}
.lang a{display: block;text-align: center;
font-size:.6rem;}

.lang_sel:hover .lang{height:200%;}



/*main*/
/*메인비쥬얼*/
.main_visual{position: relative;top:140px;
            width:100%;
            height:720px;
        overflow:hidden;}
.visual_container{width:300%;
    height:720px;}
/*배너가 3개이므로 li float 높이height 추가함*/
.visual_container > li{width:33.333%;
    /*부모는 항상 100% 자식 3개 100/3=33.333%*/
    float:left;
    height:720px;
    background-size:cover;
}

.fb{background:url(images/img_mainVisual1.png)no-repeat 50% 0;}
.sb{background:url(images/img_mainVisual2.png)no-repeat 50% 0;}
.thb{background:url(images/img_mainVisual3.png)no-repeat 50% 0;}/*이미지 화면 가운데 넣기 위해 50% 넣었음.*/
.fb .txt{width:57.5rem;/*width:1150px;*/}
.sb .txt{width:36.5rem;/*width:730px;*/}
.thb .txt{width:36.5rem;/*width:730px;*/}
/** txt 같이 움직이게 하기 위해서 txt에 inner 추가함*/
.txt{margin:7rem  auto;/*margin:140px auto;/*176px*/
    /*position: relative;top:140px;left:11rem;*/
    font-weight:700;}
.txt,.txt a{color:#fff;} 
.txt > h2{font-size:3.1rem;/*62px;*/}
.txt > p{font-size:1.4rem;/*28px; */
        padding:2.5rem 0 1.9rem;/*50px 0 38px;*/line-height:1.2;}
.txt > a{display:block;width:5.5rem;/*110px;*/height:1.5rem;/*30px;*/
        border:1px solid #fff;
        border-radius:1.25rem;/*25px;*/
        font-size:0.75rem;/*15px;*/
        text-align: center;
        line-height: 1.5rem;/*30px;*/}

.pager{position: relative;bottom:13rem;/*260px;*/
        width:57.5rem;/*1150px;*/margin:auto;
        height:.8rem;/*16px;*/}
.pager li{float:left;margin-right: 10px;}
.pager li a{color:#fff;}
.num a:before
{content:"";display:inline-block;
                   width:14px;height:14px;
                   border:1px solid #fff;
                    border-radius:14px;
}

.pager .active a:before
{background:#fff;/*border:none;*/}

/*정지,재생버튼*/
.pau a:before{content:"";display:inline-block;
                width:6px;height:15px;
              background:url(images/icon_stop.png) no-repeat 0 0;}
.play a:before{opacity: 0;
            content:"";display:inline-block;
                width:12px;height:15px;
            background:url(images/icon_play.png) no-repeat 0 0;
            position:relative;left:-17px;
    /*poa 도 가능하고 그럴경우 left 값을 변경해야한다.*/
}

.arr_btn li{position:absolute;bottom:50%;
        width:22px;height:43px;
text-indent:-9999px;overflow:hidden;}
.arr_btn .prev{left:3rem;/*60px;*/
    background:url(images/icon_arrow9_1.png) no-repeat 0 0;}
.arr_btn .next{right:3rem;/*60px;*/
     background:url(images/icon_arrow9_2.png) no-repeat 0 0;}
/*content*/
.con{padding:4.5rem 0;}/*90px 0*/
/*content1  industries*/

.con1{position: relative;top:7rem;/*140px;*/
background: #fff;}
.con_hd{
        font-size:2.1rem;/*42px*/
        font-weight: 800;
        text-align: center;
    }
.con_pg{font-size:1rem;color:#444;
        text-align: center;
        padding:1.8rem 0 3rem;}/*36px 60px*/
.con1 ul:first-child{
        height:9.95rem;/*199px;*/
        }
.con1 li{position: relative;float:left;margin-right:1px;}
.con1 li:last-child{margin-right:0;}
.con1 li img{width:9.95rem;height:9.95rem;}
.con1 li span{position: absolute;top:50%;left:50%;
transform:translate(-50%,-50%);
color:#fff;font-size:.9rem;}/*18px*/

/*offering*/
.con2{background: #f5f5f5;width:100%;
        margin-top:/*140px;*/7rem;}
.con2 ul{display:flex;}
.con2 ul li{width:16.666%;
             text-align: center;}
.con2 ul li a{display:block;width:100%;height:100%;
                color:#555;font-size:.9rem;}/*18px*/
.con2 ul li a:before{content:"";margin:0 auto;
                    display:block;
                 width:65px;height:65px; background:url(images/icon_celloService1.png)no-repeat 0 0;
                 padding:0 0 25px;}
.con2 ul li:nth-child(2) a:before{
    background-image: url(images/icon_celloService2.png);
}
.con2 ul li:nth-child(3) a:before{
    background-image: url(images/icon_celloService3.png);
}
.con2 ul li:nth-child(4) a:before{
    background-image: url(images/icon_celloService4.png);
}
.con2 ul li:nth-child(5) a:before{
    background-image: url(images/icon_celloService5.png);
}
.con2 ul li:nth-child(6) a:before{
    background-image: url(images/icon_celloService6.png);
}
/*market trends*/
.con3 .tb{display:none;}
.con3 > .contents1
{display:flex;width:100%;}
.con3 > .contents1 > li{flex:1;/*width:19rem;/*380px;*/height:18.3rem;/*366px;*/
        box-shadow:0 0 30px rgba(26, 33, 56, .1);
            /*box-shadow: 가로오프셋 세로오프셋 블러 색깔*/ }
.con3 > .contents1 > li:nth-child(2){margin:0 1.25rem;}/*25px*/

.con3 > .contents1 > li a{position: relative;display:block;width:100%;height:100%;
    padding:1.6rem;/*32px;*/
    box-sizing: border-box;
    
    }
figcaption{letter-spacing: -1px;/*글자와 글자사이 간격*/}
.con3 > .contents1 > li:nth-child(2) a{padding:0;}
.con3 figure img{width:100%;margin:0 0 22px 0;}
.c888s14{position:absolute;bottom:50px;
        color:#888;font-size:.7rem;}/*14px*/

/*두번째 상자*/
.con3 ul ul{width:100%;height:100%;}
.con3 ul ul li{height:33.333%;}
.con3 .all li a{box-sizing:border-box;
                line-height:122px;
    text-indent:32px;
      color:#0f5431;
font-size:1.1rem;/*22px;*/}
.con3 .all li:nth-child(2) a{border-top:1px solid #f5f5f5;
    border-bottom:1px solid #f5f5f5;}
.con3 .all li a span{position: absolute;right:32px;
/*background: url(images/icon_arrow11_2.png) no-repeat 0 0;*/
color:transparent;
}
.con3 .all li a span:after{
            content:"";
            display:inline-block;
            background:url(images/icon_arrow11_2.png) no-repeat 0 0;
            width:10px;
            height:18px;
            vertical-align: middle;
    }
.con3 .all li a:hover{background: #0f5431;color:#fff;}
.con3 .all li a:hover span:after{background:url(images/icon_arrow11_1.png);}

/*sns*/
.con4{background:url(images/bg_mConnect1.jpg)no-repeat center fixed;}
.alignc{display:flex;/*display:flex;*/
        justify-content: center;}

/*뉴스& 이벤트*/
.con5 .alignc li{flex:1;}
.con5 .alignc li:nth-child(2)
    {padding:0 2rem;/*40px*/
     margin: 0 2rem;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;}
.con5 .alignc h3{font-size:.8rem;
    margin-bottom: 1.5rem;
    color:#0f5431;font-weight:700;
}/*16px*/
.con5 .alignc p a{display:block;width:15.9rem;/*310px;*/
    font-size:1rem;
    letter-spacing: 1px;font-weight: 900;
word-break:keep-all;
}
.con5 .alignc p:last-child{margin-top: 1.5rem;
    font-size:.7rem;
  color:#888;}
/*global networks  con6*/
.con6{background: #f5f5f5;}
.c6{color:#186342;font-size:1rem;}

.c6Text{color:#222;font-size:2.6rem;}/*52px*/
.con6 li a{display: block;
    width:12rem;/*240px;*/height:10rem;/*200px;*/
   font-weight:900;text-align: center;
    padding:2.5rem 0;/*50px 0;*/
    box-sizing: border-box;
}
.con6 li a span{display: block;}

.c6:before{content:"";display:inline-block;
           width:30px;height:30px;
    background:url(images/icon_global1.png)no-repeat 0 50%;}
.con6 li:nth-child(2) .c6:before{
    background-image:url(images/icon_global2.png);
}
.con6 li:nth-child(3) .c6:before{
    background-image:url(images/icon_global3.png);
}
.con6 li:nth-child(4) .c6:before{
    background-image:url(images/icon_global4.png);
}
.con6 li:nth-child(5) .c6:before{
    background-image:url(images/icon_global5.png);
}
.con6 li a:hover {background: #186342;}
.con6 li a:hover span{color:#fff;}

.con6 li a:hover .c6:before{
    background-image:url(images/icon_global1_on.png);
}
.con7{background:url(images/bg_mCustomer.jpg) no-repeat 0 0 fixed;color:#fff;}
.con7 .con_pg{color:#fff;}
.con7 p{text-align: center;}
.con7 .touch{display: inline-block;
    color:#fff;
    width:7.8rem;/*156px;*/
    height:2.5rem;/*50px;*/
    line-height: 2.5rem;
border:1px solid #fff;
border-radius:2.5rem;}
/*footer*/
footer{padding:20px 0;background: #353736;
font-size:.65rem;/*13px;*/
height:5rem;}

footer a{color:rgba(255,255,255,.7);}
footer .inner{position: relative;}
footer ul{display: flex;/*가로정렬*/
justify-content:flex-end;/*오른쪽정렬*/}


.link2 li ~ li:before{content:"";
 /*~ 첫번째 제외*/display:inline-block;
                width:1px;height:10px;
                background:#555;
                margin:0 1rem;}
.sns6{padding:25px 180px 0 0;}/**/
.sns6 li{margin-left:10px;}
.sns6 li a{display:block;
            width:16px;height:16px;}
.sns6 img{width:100%;}
.dropdown{position:absolute;top:35px;right:0;
    border:1px solid #555;
    width:8rem;/*160px*/
    height:1.8rem;/*36px;*/
padding-left: 10px;
box-sizing: border-box;
background:url(images/icon_arrow2.png) no-repeat 90% 50%;
}
.dropdown a{display:block;
width:8rem;
height:1.8rem;
line-height:1.8rem;
}
footer address{position: absolute;top:0;left:0;
    font-size:.65rem;/*13px;*/
    color:rgba(255,255,255,.7);}
footer small{font-size:.65rem;color:#555;}
















