/*pc버전*/
html {
    font-size:20px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1rem;/*20px = 1rem*/
    color:#555;
}

a {
    color:#555;
}

.tb {
    display:none;
}

/*layout*/
header {
    z-index:91;
    position: fixed;
    width:100%;
    height:140px;
    box-sizing:border-box;
    background:#fff;
    border-bottom:1px solid #ddd;
}

.inner {
    width:1200px;
    margin:0 auto;/*width:1200px 1200/20= 60rem; */
}

header > .inner{
    width:1240px;
}

main {
    width:100%;
}

footer{
    width:100%;
}

/*header*/
.modal{
    display:none;
}
/*로고*/

.logo{
    position: absolute;
    z-index:92;
    top:55%;
    left:50%;
    transform:translate(-55%,-50%);
}

.logo img{
    width:4.45rem;
    height:1.75rem;
}

header nav.hd{
    width:1240px;
    height:140px;
}

.gnb{
    overflow:hidden;
}

ul.gnb:hover{
    overflow:visible;
}

.gnb > li {
    position: relative;
    float:left;
    width:180px;
    height:140px;
    line-height:170px;
    color:#fff;
}

.gnb > li:before{
    content:"";
    position: absolute;
    right:0;
    bottom:-3px;
    width:180px;
    height:5px;
    background:#0f5431;
    z-index:93;
    opacity:0;
}

.gnb > li:hover::before{
    opacity: 1;
}

.gnb > li:hover ul{
    background:#eff4f2;
}

.gnb > li > a{
    display:block;
    width:100%;
    height:100%;
    font-size:.9rem;
    font-weight:700;
    text-indent:15px;
}

.gnb > li:nth-child(3) {
    margin-right:160px;
}

.dim{
    position: absolute;
    z-index:89;
    top:140px;
    left:0;
    width:100%;
    background:#fff;
    opacity:0;
    border:1px solid #ddd;
}

.gnb > li > ul{
    position: absolute;
    z-index:92;
    text-align:left;
    font-size:.75rem;
    top:140px;
    color:#444;
    height:382px;
    width:180px;
    line-height:.75rem;
    padding:0 15px;
    box-sizing:border-box;
}

header nav:hover + div.dim{
    height:383px;
    opacity:1;
}

.gnb > li > ul > li{
    margin-top:30px;
}

.gnb > li > ul > li:first-child{
    margin-top:20px;
}


.gnb > li > ul > li > ul{
    font-size:.65rem;
    color:#888;
}

.gnb > li > ul > li > ul > li{
    margin-top:12px;
}

/*탑메뉴*/
.topMenu{
    position: absolute;
    top:0;
    left:0;
    background:#0f5431;
    width:100%;
    height:1.9rem;
}

.topMenu a{
    color:#fff;
    font-size: .6rem;
}

.topMenu .inner{
    display:flex;
    justify-content: flex-end;
}

.topMenu .inner ul{
    display:flex;
}

.topMenu .inner ul li{
    position: relative;
}

.topMenu .inner ul li a{
    padding:0 .7rem;/*14px*/
}

.topMenu .inner ul li ~ li > a:after{ /*li에서 li 사이 첫번째 제외*/
    content:"";
    position: absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:11px;
    background:rgba(255,255,255,.3);
}

.topMenu .inner p{
    background:#0b3f25;
    height:1.9rem;
    line-height:1.9rem;
    font-weight: 800;
    padding:0 1.4rem;
}/*0 24px;*/

.lang_sel{
    position: relative;
}

.lang{/*display:none;*/
    position: absolute;
    top:1.9rem;
    background:#0f5431;
    width:100%;
    height:0;
    overflow:hidden;
    transition:height .3s;
    font-size:.6rem;
}

.lang a{
    display: block;
    text-align: center;
}

.lang a:first-child{
    margin-bottom:10px;
}

.lang_sel:hover .lang{
    height:160%;
}

.contact14 a{
    font-size:.7rem;
}

/*main*/
.main_visual {
    position: relative;
    top:140px;
    width:100%;
    height:720px;
    overflow:hidden;
}

.visual_container {
    width:300%;
    height:720px;
}

/*배너가 3개이므로 li float 높이height 추가함*/
.visual_container > li{
    width:33.333%;
    float:left;
    height:720px;
}

.fb{
    background:url(images/img_mainVisual1.png)no-repeat 50% 0;
}

.sb{
    background:url(images/img_mainVisual2.png)no-repeat 50% 0;
}

.thb{
    background:url(images/img_mainVisual3.png)no-repeat 50% 0;
}

.fb .txt{
    width:57.5rem;
}

.sb .txt{
    width:36.5rem;
}

.thb .txt{
    width:36.5rem;
}
/** txt 같이 움직이게 하기 위해서 txt에 inner 추가함*/
.txt{
    margin:7rem  auto;
    font-weight:700;
}

.txt,.txt a{
    color:#fff;
} 

.txt > h2{
    font-size:3.1rem;
}

.txt > p{
    font-size:1.4rem;
    padding:2.5rem 0 1.9rem;
    line-height:1.2;
}


.txt > a{
    display:block;
    width:5.5rem;
    height:1.5rem;
    border:1px solid #fff;
    border-radius:1.25rem;
    font-size:0.75rem;
    text-align: center;
    line-height: 1.5rem;
}

.pager {
    position: relative;
    bottom:13rem;
    width:57.5rem;
    margin:auto;
    height:.8rem;
}

.pager li{
    float:left;margin-right: 10px;
}

.pager li a{
    color:#fff;
}

.num a:before {
    content:"";
    display:inline-block;
    width:14px;
    height:14px;
    border:1px solid #fff;
    border-radius:14px;
}

.pager .active a:before{
    background:#fff;
}

/*정지,재생버튼*/
.pau a:before{
    content:"";
    display:inline-block;
    width:6px;
    height:15px;
    background:url(images/icon_stop.png) no-repeat 0 0;
}

.play a:before{
    content:"";
    display:inline-block;
    width:12px;
    height:15px;
    background:url(images/icon_play.png) no-repeat 0 0;
    position:relative;
}

.arr_btn li{
    position:absolute;
    bottom:50%;
    width:22px;
    height:43px;
    text-indent:-9999px;
    overflow:hidden;
}

.arr_btn .prev{
    left:3rem;/*60px;*/
    background:url(images/icon_arrow9_1.png) no-repeat 0 0;
}

.arr_btn .next{
    right:3rem;
    background:url(images/icon_arrow9_2.png) no-repeat 0 0;}

/*content*/
.con{
    padding:3.5rem 0;
}

.con1{
    position: relative;
    top:7rem;
    background: #fff;
}

.con_hd{
    font-size:2.1rem;
    font-weight: 800;
    text-align: center;
    color:#000;
}

.con_hd_white{
    color:#fff;
    font-weight: 600;
}

.con_pg{
    font-size:1rem;
    color:#444;
    text-align: center;
    padding:1.8rem 0 3rem;
}

.pdsmall/*con_pg 중 padding 값이 작은 클래스들*/{
    padding:.5rem 0 1.8rem;
}

.con1 ul:first-child{
    height:9.95rem;
}

.con1 li{
    position: relative;
    float:left;
    margin-right:1px;
}

.con1 li:last-child{
    margin-right:0;
}

.con1 li img{
    width:9.95rem;
    height:9.95rem;
}

.con1 li span{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:.9rem;
    word-break:keep-all;
    display:block;
    width:100%;
    text-align:center;
    font-weight:700;
}

/*offering*/
.con2{
    background: #f5f5f5;
    width:100%;
    margin-top:7rem;
}

.con2 ul{
    display:flex;
}

.con2 ul li{
    width:16.666%;
    text-align: center;
}

.con2 ul li a{
    display:block;
    width:100%;
    height:100%;
    color:#555;
    font-size:.9rem;
}

.con2 ul li a:before{
    content:"";
    margin:0 auto;
    display:block;
    width:65px;
    height:65px; 
    background:url(images/icon_celloService1.png)no-repeat 0 0;
    padding:0 0 25px;
}

.con2 ul li:nth-child(2) a:before{
    background-image: url(images/icon_celloService2.png);
}

.con2 ul li:nth-child(3) a:before{
    background-image: url(images/icon_celloService3.png);
}

.con2 ul li:nth-child(4) a:before{
    background-image: url(images/icon_celloService4.png);
}

.con2 ul li:nth-child(5) a:before{
    background-image: url(images/icon_celloService5.png);
}

.con2 ul li:nth-child(6) a:before{
    background-image: url(images/icon_celloService6.png);
}

/*market trends*/
.con3 .tb{
    display:none;
}
.con3 > .contents1 {
    display:flex;width:100%;
}

.con3 > .contents1 > li{
        flex:1;
        height:18.3rem;
        box-shadow:0 0 30px rgba(26, 33, 56, .1);}

.con3 > .contents1 > li:nth-child(2){
    margin:0 1.25rem;
}

.con3 > .contents1 > li a{
    position: relative;
    display:block;
    width:100%;
    height:100%;
    padding:1.6rem;
    box-sizing: border-box;  
}

figcaption{
    letter-spacing: -1px;
}

.con3 > .contents1 > li:nth-child(2) a{
    padding:0;
}

.con3 figure img{
    width:100%;
    margin:0 0 22px 0;
}

.c888s14{
    position:absolute;
    bottom:50px;
    color:#888;
    font-size:.7rem;
}

.con3 ul ul{
    width:100%;
    height:100%;
}

.con3 ul ul li{
    height:33.333%;
}

.con3 .all li a{
    box-sizing:border-box;
    line-height:122px;
    text-indent:32px;
    color:#0f5431;
    font-size:1.1rem;
}

.con3 .all li:nth-child(2) a{
    border-top:1px solid #f5f5f5;
    border-bottom:1px solid #f5f5f5;
}

.con3 .all li a span{
    position: absolute;
    right:32px;
    color:transparent;
}

.con3 .all li a span:after{
    content:"";
    display:inline-block;
    background:url(images/icon_arrow11_2.png) no-repeat 0 0;
    width:10px;
    height:18px;
    vertical-align: middle;
}
.con3 .all li a:hover{
    background: #0f5431;
    color:#fff;
}

.con3 .all li a:hover span:after{
    background:url(images/icon_arrow11_1.png);
}

/*sns*/
.con4{
    background:url(images/bg_mConnect1.jpg)no-repeat center fixed;
}

.alignc{
    display:flex;
    justify-content: center;
}

.con4 .alignc li{
    margin:0 1.5rem;
}

.con4 .alignc li img{
    width:4.8rem;
    height:4.8rem;
}

.con5 .alignc li{
    flex:1;
}

.con5 .alignc li:nth-child(2){
    padding:0 2rem;
    margin: 0 2rem;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

.con5 .alignc li:hover a{
    text-decoration: underline;
}

.con5 .alignc h3{
    font-size:.8rem;
    margin-bottom: 1.5rem;
    color:#0f5431;
    font-weight:700;
}

.con5 .alignc p a{
    display:block;
    width:15.9rem;
    font-size:1rem;
    font-weight: 600;
    word-break:keep-all;
    color:#000;
}

.con5 .alignc p:last-child{
    margin-top: 1.5rem;
    font-size:.7rem;
    color:#888;
}

.con6{
    background: #f5f5f5;
}

.c6{
    color:#186342;
    font-size:1rem;
}

.c6Text{color:#222;
    font-size:2.6rem;
}

.con6 li a{
    display: block;
    width:12rem;
    height:10rem;
    font-weight:400;
    text-align: center;
    padding:2.5rem 0;
    box-sizing: border-box;
}

.con6 li a span{
    display: block;
}

.c6:before{
    content:"";
    display:inline-block;
    width:30px;
    height:30px;
}

.con6 li:first-child .c6:before{
    background:url(images/icon_global1.png)no-repeat 0 50%;
}

.con6 li:first-child:hover .c6:before{
    background:url(images/icon_global1_on.png)no-repeat 0 50%;
}

.con6 li:nth-child(2) .c6:before{
    background:url(images/icon_global2.png)no-repeat 0 50%;
}

.con6 li:nth-child(2):hover .c6:before{
    background:url(images/icon_global2_on.png)no-repeat 0 50%;
}

.con6 li:nth-child(3) .c6:before{
    background:url(images/icon_global3.png)no-repeat 0 50%;
}

.con6 li:nth-child(3):hover .c6:before{
    background:url(images/icon_global3_on.png)no-repeat 0 50%;
}

.con6 li:nth-child(4) .c6:before{
    background:url(images/icon_global4.png)no-repeat 0 50%;
}

.con6 li:nth-child(4):hover .c6:before{
    background:url(images/icon_global4_on.png)no-repeat 0 50%;
}

.con6 li:nth-child(5) .c6:before{
    background:url(images/icon_global5.png)no-repeat 0 50%;
}

.con6 li:nth-child(5):hover .c6:before{
    background:url(images/icon_global5_on.png)no-repeat 0 50%;
}

.con6 li a:hover {
    background: #186342;
}

.con6 li a:hover span{
    color:#fff;
}


.con7{
    background:url(images/bg_mCustomer.jpg) no-repeat 0 0 fixed;
    color:#fff;
}

.con7 .con_pg{
    color:#fff;
}

.con7 p{
    text-align: center;
}

.con7 .touch{
    display: inline-block;
    color:#fff;
    width:7.8rem;
    height:2.5rem;
    line-height: 2.5rem;
    border:1px solid #fff;
    border-radius:2.5rem;
}

/*footer*/
footer{
    padding:20px 0;
    background: #353736;
    font-size:.65rem;
    height:5rem;
}

footer a{
    color:rgba(255,255,255,.7);
}

footer .inner{
    position: relative;
}

footer ul{
    display: flex;
    justify-content:flex-end;
}

.link2 li ~ li:before{
    content:"";
    display:inline-block;
    width:1px;height:10px;
    background:#555;
    margin:0 1rem;
}

.sns6{
    padding:25px 180px 0 0;
}

.sns6 li{
    margin-left:10px;
}

.sns6 li a{
    display:block;
    width:16px;
    height:16px;
}

.sns6 img{
    width:100%;
}

.dropdown{
    position:absolute;
    top:35px;
    right:0;
    width:8rem;
    height:1.8rem;
    box-sizing: border-box;
    background:url(images/icon_arrow2.png) no-repeat 90% 50%;
    text-indent:10px;
}

.dropdown a{
    border:1px solid #555;
    display:block;
    width:8rem;
    height:1.8rem;
    line-height:1.8rem;
}

.dropdown a:nth-child(2){
    display:none;
}

footer .address{
    position: absolute;
    top:0;
    left:0;
    font-size:.65rem;
    color:rgba(255,255,255,.7);
}

footer small{
    display:inline-block;
    margin-top:20px;
    font-size:.65rem;
    color:#555;
}
















