html{
    font-size:16px;
}

body{
    font-size:1rem;
    background:#fff;
}

.pc{
    display:none;
}

.tb{
    display:block;
}

header{
    width:inherit;
    position: fixed;
    height:3.125rem;
    padding:0.625rem;
    border-bottom:1px solid #ddd;
}

.inner{
    width:100%;
    margin:0;   
    padding:0;
}
/*로고*/

.logo{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.logo img{
    width:3.8125rem;
    height:1.5rem;
}

.tb_allMenu{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:15px;
    background:url(images/icon_gnb.png) no-repeat center;
    width:20px;
    height:18px;
    background-size:100% auto;
    cursor:pointer;
}

.tb_allMenu:hover .modal{
    display:block;
}

.modal{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background:#fff;
}

.tb_logo{
    height:3.125rem;
    background:#0f5431;
}

.tb_logo img{
    padding:1rem 0 0 1rem;
    height:1.687rem;/*w60px h.27px*/
}
/*닫기*/
.tb_close_btn{
    position: absolute;
    top:0.875rem;
    right:1rem;
    color:#fff;
    font-size:1.125rem;
}

.tb_close_btn:after{
    content:"\e921";
    font-family: xeicon;
}

.modal span{
    color:transparent;
}

header nav{
    position:static;
}

.modal .gnb{
    display:flex;
    flex-direction: column;
}

.modal .gnb li{
    border-bottom:1px solid #ddd;
}

.modal li > a,.modal .topMenu p{
    display:block;
    box-sizing: border-box;
    color:#222;
    padding:1rem 1.25rem;
}

.modal .gnb > li > a:after{
    content: "\e941";
    font-family:xeicon;
    float:right;
    color:#0f5431;
}

header nav ul > li:nth-child(3) {
    margin-right:0;
}

/*탑메뉴*/
.topMenu{
    position:static;
    background:none;
    width:100%;
    height:auto;
    line-height:auto;
    margin:0.1875rem 0 0.875rem;/*3px 14px*/
}

.modal .topMenu li{
    width:50%;
    height:1.875rem;
    margin:0.937rem 0;
}

.modal .topMenu li a{
    width:100%;
    display:inline-block;
    padding-top:0;
    color:#888;
    font-size:.875rem;/*14px*/
    font-weight:bold;
    box-sizing:border-box;
    height:1.875rem;/*30px;*/
    margin:0;
}

.modal .topMenu ul{
    display:flex;
    flex-flow:row wrap;
    width:100%;
}

.topMenu i{
    background:#f6f6f6;
    width:30px;height:30px;
    border-radius:100%;
    box-sizing:border-box;
    padding:.5rem;
}

.modal p a{
    width:100%;
    display:inline-block;
    color:#888;
    font-size:.875rem;
    font-weight:bold;
}

.lang_sel{
    position: relative;
}

.lang{
    position: absolute;
    top:1.9rem;
    background:#0f5431;
    width:100%;
    height:0;
    overflow:hidden;
    transition:height .3s;
}

.lang a{
    display: block;
    text-align: center;
    font-size:.6rem;
}

.lang_sel:hover .lang{
    height:200%;
}

/*main*/
/*메인비쥬얼*/
.main_visual{
    position: relative;
    top:3.125rem;
    width:100%;
    height:24.5rem;
}

.visual_container{
    height:24.5rem;
}

.visual_container > li{
   height:24.5rem;
}

.fb .txt{
    width:36.5rem;
}

.sb .txt{
    width:36.5rem;
}

.thb .txt{
    width:36.5rem;
}

.txt{
    margin:2.5rem  auto;
    font-weight:700;
}

.txt,.txt a{
    color:#fff;
} 

.txt > h2{
    text-align: center;
    font-weight:600;
    font-size:1.875rem;
}

.txt > p{
    text-align: center;
    font-size:1rem;
    padding:2.5rem 0 1.9rem;
    line-height:1.2;
}

.txt > a{
    display: block;
    text-align: center;
    margin:0 auto;
    font-size:1rem;
    width:7rem;
    height:2rem;
    line-height:2rem;
    border-radius:1.25rem;
    border:2px solid #fff;
}

.pager{
    position: relative;
    left:50%;
    bottom:2rem;
    margin-left:-1.5rem;
    height:.8rem;
}

.pager li{
    float:left;
    margin-right:10px;
}

.pager li a{
    color:#fff;
}

.num a:before{
    content:"";
    display:inline-block;
    width:14px;
    height:14px;
    border:1px solid #fff;
    border-radius:14px;
}

.pager .active a:before{
    background:#fff;
}

/*정지,재생버튼*/
.pau a:before{
    content:"";
    display:inline-block;
    width:6px;
    height:15px;
    background:url(images/icon_stop.png) no-repeat 0 0;
}

.play a:before{
    position:relative;
    content:"";
    display:inline-block;
    width:12px;
    height:15px;
    background:url(images/icon_play.png) no-repeat 0 0;
}

.arr_btn li{
    position:absolute;
    bottom:50%;
    width:22px;
    height:43px;
    text-indent:-9999px;
    overflow:hidden;
}

.arr_btn .prev{
    left:3rem;
    background:url(images/icon_arrow9_1.png) no-repeat 0 0;
}

.arr_btn .next{
    right:3rem;
    background:url(images/icon_arrow9_2.png) no-repeat 0 0;
}

/*content1  industries*/
.con{
    padding:2.5rem .93rem;
    box-sizing:border-box;
}/*40px*/

.con1{
    position: relative;
    top:0;
}

.con_hd{
    font-size:1.43rem;
    font-weight: 800;
    text-align: center;
}

.con_pg{
    font-size:.8125rem;
    text-align: center;
    padding:1rem 0 1.25rem;
}

.content1{
    width:100%;
    box-sizing:border-box;
}

.content1 > ul:first-child{
    height:100%;
    box-sizing:border-box;
    overflow:hidden;
    display:flex;
}

.content1 ul:first-child li{
    width:49.9%;
    height:100%;
    position: relative;
    margin-right:1px;
    flex-shrink: 0;
}

.con1 li:last-child{
    margin-right:0;
}

.con1 li img{
    width:100%;
    height:100%;
}

.con1 li span{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:.9rem;
}

.con2{
    background: #f5f5f5;
    width:100%;
    margin-top:0;
}

.con2 ul{
    flex-wrap: wrap
}

.con2 ul li{
    width:33.333%;
    padding:1rem 0;
}

/*market trends*/
.con3{
    position: relative;
    overflow:hidden;
    box-sizing:border-box;
    width:100%;
    padding:2.5rem .93rem;
    box-sizing:border-box;
    height:440px;
}

.con3 > ul:fist-child{
    display:flex;width:300%;
}

.con3 > ul:first-child > li{
    width:33.333%;
    height:47.25rem;}

.con3 > ul:first-child > li:nth-child(2){
    order:1;
    height:13.1rem;
    margin:0;
}
    
.con3 > ul:first-child > li:nth-child(1){
    order: 2;
}

.con3 > ul:first-child > li:nth-child(3){
    order: 3;
}

.con3 > ul:first-child > li a{
    position: relative;
    display:block;
    width:100%;
    height:100%;
    padding:2rem;
    box-sizing: border-box;
}

figure{
    height:39.8rem;
}

.con3 figure img{
    height:37.8rem;
    margin:0 0 14px 0;
}

figcaption{
    letter-spacing: 0;
    margin-bottom:3.4rem;
}

.c888s14{
    position:absolute;
    bottom:20px;
    font-size:.875rem;}

/*두번째 상자*/
.con3 > .contents1 > li{
    height:auto;
}

.con3 .all li{
    height:4.37rem;
}

.con3 .all li a{
    height:4.37rem;    
    line-height:4.37rem;
    text-indent:1.25rem;
}

.con3 .all li a:hover{
    background:#fff;
    color:#0f5431;
}

.con3 .all li a:hover span:after{
    background:url(images/icon_arrow11_2.png);
}

.con3 ul .visual{
    display:none;
}

.con3 .pager3, .con2 .pager2{
    display: flex;
}

.pager2,.pager3{
    position:absolute;
    bottom:1rem;
    left:50%;    
    transform:translateX(-50%);
}

.pager2 li,.pager3 li{
    padding:0 10px;
}

.pager2 .num a:before,.pager3 .num a:before{
    content:"";
    display:inline-block;
    width:10px;height:10px;
    border:1px solid #ccc;
    border-radius:14px;
}

.pager2 .active a:before,.pager3 .active a:before{
    background:#0f5431;
}



/*sns*/
.con4{
    background:#f5f5f5;
}

.alignc{
    display:flex;
    justify-content: center;
}

.con4 .alignc li{
    margin:0 1%;
}

.alignc li img{
    display:block;
    width:12rem;
    height:12rem;
}
    
/*뉴스& 이벤트*/
.con5 .con_pg{
    padding:1.25rem 0;
}

.con5 .alignc{
    justify-content: left;
    flex-direction: column;
    height:18.625rem;
    overflow:hidden;
    padding:.8125rem 0;
    box-sizing:border-box;
}

.con5 .alignc li{
    flex:1;
    width:100%;
    height:9.3125rem;
    padding:1rem 0;
    border-bottom:1px solid #ddd;
}

.con5 .alignc li:nth-child(2){
    padding:1rem 0;
    margin:.2rem 0 0;
    border-left:0;
    border-right:0;
}

.con5 .alignc h3{
    font-size:.8rem;
    margin-bottom: 1.5rem;
    color:#0f5431;
    padding:0 .9375rem;
}

.con5 .alignc p{
    padding:0 .9375rem;
}

.con5 .alignc p a{
    display:block;
    width:100%;
    margin:20px 0 11px;
    box-sizing:border-box;
    word-break:keep-all;
    font-weight:400;
    letter-spacing: 0;
    color:#000;
}

.con5 .alignc p:last-child{
    margin-top: 1.5rem;
    font-size:.7rem;
    color:#888;
}

/*global networks  con6*/
.c6{
    font-size:.75rem;
}
.con6 .alignc{
    flex-wrap: wrap;
    justify-content:flex-start;
}

.con6 li{
    width:33.333%;
}

.con6 .w50{
    width:50%;
}

.con6 li a{
    width:100%;
    height:5.3rem;/*85px;*/
    padding:0 0 1.5rem;/*pb24px*/
    box-sizing: border-box;
}

.con6 li a span{
    display: block;
}

.c6Text{
    font-size:1.938rem;
}

.c6:before{
    content:"";
    display:inline-block;
    width:30px;
    height:30px;
}

.con6 li:first-child .c6:before{
    background:url(images/icon_global1.png)no-repeat 0 50%;
}

.con6 li:first-child:hover .c6:before{
    background:url(images/icon_global1.png)no-repeat 0 50%;
}

.con6 li:nth-child(2) .c6:before{
    background:url(images/icon_global2.png)no-repeat 0 50%;
}

.con6 li:nth-child(2):hover .c6:before{
    background:url(images/icon_global2.png)no-repeat 0 50%;
}

.con6 li:nth-child(3) .c6:before{
    background:url(images/icon_global3.png)no-repeat 0 50%;
}

.con6 li:nth-child(3):hover .c6:before{
    background:url(images/icon_global3.png)no-repeat 0 50%;
}

.con6 li:nth-child(4) .c6:before{
    background:url(images/icon_global4.png)no-repeat 0 50%;
}

.con6 li:nth-child(4):hover .c6:before{
    background:url(images/icon_global4.png)no-repeat 0 50%;
}

.con6 li:nth-child(5) .c6:before{
    background:url(images/icon_global5.png)no-repeat 0 50%;
}

.con6 li:nth-child(5):hover .c6:before{
    background:url(images/icon_global5.png)no-repeat 0 50%;
}

.con6 li a:hover {
    background:transparent;
}

.con6 li a:hover span{
    color:#0f5431;
}

.con6 li a:hover .c6Text{
    color:#000;
}
 
/*con7*/
.con7 .con_pg{
    padding:1rem 0 1.25rem;
}

.touch:after{
    content:"\e93f";
    font-family: xeicon;
    display: inline-block;
    width: 8px;
    height: 12px;
    -webkit-background-size: 50%;
    background-size:50% ;
}

/*footer*/
footer{
    box-sizing: border-box;
    height:auto;
}


footer .inner{
    padding:20px;
    box-sizing:border-box;
    margin:0;
    position: relative;
    top:0;
    left:0;
}

.link2, address > p > small > img{
    display: none;
}

footer ul{
    display: initial;
    justify-content: initial;
}

.dropdown{
    width:95%;
    height:1.6rem;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    background:url(images/icon_arrow2.png) no-repeat 100% 100%;
    cursor: pointer;
    font-size:.875rem;
}

.dropdown a{
    border:1px solid #555;
    display: block;
    width:100%;
    text-indent:10px;
    padding:.4rem;
}

.dropdown a:nth-child(2){
    display:none;
}

.sns6{
    display: block;
    padding:0;
    margin-top:40px;
    text-align: center;
}

.sns6 li{
    display:inline-block;
    margin-left:15px;
}

.sns6 li:first-child{
    margin-left:0;
}

.sns6 li a{
    width:1.875rem;
    height:1.875rem;

}

footer .address{
    font-size:.75rem;
    position: initial;
    width:100%;
    margin:20px auto 0;
    text-align: center;
}

footer p small{
    font-size:1rem;
}








